@model Spotify.Models.Objecten.Account

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jouw account</h2>
<div class="control-label" for="inputLarge" id="lbUserName">
    @Html.LabelFor(M => M.Name);
</div>
<div typeof="text" id="tbName">
    @Html.TextBoxFor(M => M.Name);
</div>

