@model List<Spotify.Models.Objecten.Artist>

@{
    ViewBag.Title = "Artiesten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Vieuw.css" rel="stylesheet" />
<h2>Artiesten</h2>

